@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

    --primary_red: hsl(0, 78%, 62%);
    --primary_cyan: hsl(180, 62%, 55%);
    --primary_corange: hsl(34, 97%, 64%);
    --primary_blue: hsl(212, 86%, 64%);

    --neutral_grey500: hsl(234, 12%, 34%);
    --neutral_grey400: hsl(212, 6%, 44%);
    --neutral_white: hsl(0, 0%, 100%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    margin: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.presentation{
    width: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
}

.surtitle{
    font-weight: 200;
    color: var(--neutral_grey400);
    font-size: 1.4em;
}

.title{
    font-weight: 600;
    color: var(--neutral_grey500);
    font-size: 1.4em;
}

.subtitle{
    font-size: 0.8em;
    font-weight: 400;
    color: var(--neutral_grey400);
}

.cardgrid{
    margin-top: 20px;
    width: 80%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
}

.card{
    padding: 20px;
    width: 100%; 
    display: flex;
    flex-direction: column;
    background-color:var(--neutral_white);
    position: relative;
    border-radius: 4px;
    gap:8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.2s ease-in-out;
}

.card:hover{
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

.card-title{
    font-weight: 600;
}

.card-subtitle{
    font-size: 0.8em;
    color: var(--neutral_grey400);
}

.green{
    grid-row: 2/4;
    grid-column: 1/2;
}

.red{
    grid-row:1/3 ;
    grid-column: 2/3;
}

.orange{
    grid-column: 2/3;
    grid-row: 3/5;
}

.blue{
    grid-row: 2/4;
    grid-column: 3/4;
}

.card .line{
    width: 100%;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
}

._green{
    background-color: var(--primary_cyan);
}

._red{
    background-color: var(--primary_red);
}

._orange{
    background-color: var(--primary_corange);
}

._blue{
    background-color: var(--primary_blue);
}

.icone{
    display: flex;
    justify-content: end;
    margin-top: 16px;
}

.icone img{
    width: 20%;
}

@media(max-width:35em){
    .cardgrid{
        display: flex;
        flex-direction: column;
    }
}